.banners {
    background: url("https://media.cntraveler.com/photos/5db1d0dd11c1e500092e7133/master/pass/airbnb-ski-aspen-28328347.jpg") center center;
    height: 60vh;
    position: relative;
  }
  
  .banners_info {
      background-color: goldenrod;
      color: black;
      padding-top: 25vh;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 50px;
      width: 300px;
  }
  
  .banners_search {
      display: flex;
      flex-direction: column;
  }
  
  .banners_searchButton {
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #ff7779 !important;
  }
  
  .banners_info > button {
      background-color: black;
      color: white;
      text-transform: inherit;
      margin-top: 20px;
      font-weight: 600;
  }
  
  .banners_info > button:hover {
      background-color: white;
      color: #ff7779;
    }
    
  
  .banners_info > h5 {
      margin-top: 10px;
  }

  