.searchPage__info {
    padding: 20px;
  }

.searchPage__info > p {
    margin-bottom: 10px;
    font-size: 14px;
    text-align: left;
    margin-left: 60ch;
}

.searchPage__info > h1 {
    margin-bottom: 30px;
   text-align: left;
    margin-left: 27ch;
}

.searchPage__info > button {
     
     margin-left: initial;
    border-radius: 30px;
    text-transform: inherit;
    margin: 5px;
    

    
  }